<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="scripts/auth.js"></script>
    <link href="css/auth.css" rel="stylesheet">
</head>
<body>
<hgroup>
    <h1>Let's register you!</h1>
</hgroup>


<form action="#" th:action="@{/submit}" th:object="${user}" method="post">
    <div class="group">
        <input type="text" th:field="*{name}" id="email"><span class="highlight"></span><span class="bar"></span>
        <label>Name</label>
    </div>
    <div class="group">
        <input type="email" th:field="*{email}"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="password" th:field="*{password}"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <!--<button type="submit" value="Submit" >-->
    <button type="submit" value="Submit" class="button buttonBlue card"> New user
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
</body>
</html>